<div>
    <label> Mostrar Usuarios Bloqueados</label>
    <input type="checkbox" id="ina" name="ina" [checked]="ina" [(ngModel)]="ina" (change)="opcionIna()">
</div>
<div class="busqueda">
    <input type="text" placeholder="Buscar.. " name="textobuscar" (keyup)="applyFilter($event.target.value)">
</div>
<div id="cargando" *ngIf="!usersR">
    <img src="../../../assets/images/carga.gif">
</div>
<div class="articles">
    <article class="article-item" id="article-template">
        <mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="Perfil">
                <mat-header-cell *matHeaderCellDef>
                    <h1>Perfil</h1>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="image-wrap">
                        <img [src]='element.urlimage' alt="Profile_Image" />
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Datos">
                <mat-header-cell *matHeaderCellDef>
                    <h1>Datos</h1>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <td>
                        <h2>{{element.nombre}} {{element.apellido}}</h2>
                        <span class="date">
                            Email: {{element.correo}}
                            <br>
                            Celular: {{element.telefono}}
                            <br>
                        </span>
                    </td>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef>
                    <h1>Acciones</h1>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <table>
                        <tr>
                            <td>Inhabilitado</td>
                            <td>Administrador</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" disabled id="Inhabilitado" name="Inhabilitado"
                                    [checked]="element.inhabilitado">
                                <br>
                                <button style="align-content: center;"
                                    (click)="openDiagInha(element.nombre, element.apellido,element.uid, element.inhabilitado)">Editar</button>
                            </td>
                            <td>
                                <input type="checkbox" disabled id="admin" name="admin" [checked]="element.admin">
                                <br>
                                <button style="align-content: center;"
                                    (click)="openDiagAdmin(element.nombre, element.apellido,element.uid, element.admin)">Editar</button>
                            </td>
                        </tr>
                        <button mat-button (click)="openDiagHistory(element)">Mostrar Historial</button>
                    </table>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>
    </article>

</div>