.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
.example-margin {
    margin: 0 10px;
  }
  .mat-column-Perfil {
    flex: 0 0 150px;
}
.mat-column-Cuenta {
  flex: 0 0 150px;
}
.mat-column-Usuario {
  flex: 0 0 150px;
}
.mat-column-Visualizar {
  flex: 0 0 130px;
}