<header id="header">
    <div class="avatar" style="background-image: url('{{user.urlimage}}')"></div>
    <div id="profile">
        <h3>{{user.nombre}} {{user.apellido}}</h3>
    </div>
    <div id="salir">
        <button mat-button (click)="onClickNo()">Salir</button>
    </div>
</header>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="Imagen">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</mat-header-cell>
            <mat-cell *matCellDef="let element">
                    <img [src]=" element.img == ''? '/assets/images/camera.png': element.img" alt="Articulo" width="60px" height="60px"/>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Titulo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.titulo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descripcion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Accion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button type="button" style="background: red; color: white;"
                        (click)="eliminarArticulo(element.id)">Eliminar</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>

</div>

