body{
    text-align: center;
    margin: 0px;
    padding: 0px;

    /*fuentes*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #61dafb;
}

.center{
    width: 75%;
    margin: 0px auto;
}

#logo{
    width: 30%;
    font-size: left;
    float: left;
    margin-top: 35px;

}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: -10px;
    animation: latir infinite 5s linear;
}

/*animacion del logo*/
@keyframes latir {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.02,1.02);
    }
    55%{
        transform: scale(0.95,0.95);
    }
    100%{
        transform: scale(1,1);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;

}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;

}

#menu ul li{

    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;


}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #61dafb;
}

.clearfix{
    clear: both;
    float: none;
}

#slider{
    
    width: 100%;
    height: 350px;
    line-height: 320px;
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*degradado css*/
    background: rgba(255,175,75,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,175,75,1) 33%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,175,75,1)), color-stop(33%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,175,75,1) 33%, rgba(255,146,10,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,175,75,1) 33%, rgba(255,146,10,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,175,75,1) 33%, rgba(255,146,10,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,175,75,1) 0%, rgba(255,175,75,1) 33%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );

}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    text-align: center;
}


#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left;

}

.sidebar-item{
    background:#f7f7f7;
    padding: 15px;
    margin-top: 30px;

}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #eee;
}

#footer{
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p{
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;

}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: #444;
}

.article-item a{
    display: block;
    color: #444;
    text-decoration: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}

@media (max-width: 1488px){
    .center{
        width: 85%;
    }
}

@media (max-width: 1314px){
    .center{
        width: 95%;
    }

    #menu ul{
        width: auto;
    }
}

@media (max-width: 881px){
    #logo{
        width: 265px;
    }
    
    #menu{
        width: auto;
    }
}

@media (max-width: 813px){
    #logo{
        float: none;
        /*width: 240px;*/
        margin: 0px auto;
        margin-top: 20x;
    }

    #menu,
    #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }
}

@media (max-width: 495px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }

    #menu,
    #menu ul{
        line-height: 50px;
    }

    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 180px;
    }

    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }

}